In [1]:
#lists
#in R it like a vector
#its like ordered books on the shelf
#numerations starts from 0 and nopt from 1 like in R
#the data types can be mixed

In [6]:
#create some lists
List1 = [3, 45, 56, 732]

In [7]:
List1

[3, 45, 56, 732]

In [8]:
type(List1)

list

In [9]:
#lists with mixed data types
List2 = ["hello", 24, True, 55.3]

In [10]:
List2
type(List2)

list

In [11]:
#lists within lists
List3 = ['Hello, whats up', 55, List2]

In [12]:
List3

['Hello, whats up', 55, ['hello', 24, True, 55.3]]

---

In [26]:
range(15) #iterator / generator, the same as xrange in Python2

range(0, 15)

In [27]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [28]:
List4 = list(range(0,8)) #if you want to specify the range of the list

In [29]:
List4

[0, 1, 2, 3, 4, 5, 6, 7]

In [30]:
List5 = list(range(0,8,2)) #specif step, by

In [31]:
List5

[0, 2, 4, 6]

---

In [32]:
#using the []
#accesing the elements of a list

In [36]:
List2[0] #acess first element of a List2 list

'hello'

In [40]:
#how many elements there are in a list
len(List2)

4

In [41]:
#the to acces the last element of a three elemnt list
List2[3]

55.3

In [42]:
List2

['hello', 24, True, 55.3]

In [43]:
#   0      1    2     3
#   -4     -3   -2    -1

In [44]:
List2[-4] #very different from R, hee it would exclude the 4th element

'hello'

In [45]:
#overwrite values
List2[0] = 'bok'

In [46]:
List2

['bok', 24, True, 55.3]

---

In [48]:
#SLICING = subsetting

In [49]:
#'bok', 24, True, 55.3
#  0     1    2     3
#  -4   -3    -2   -1
#  1:3 - dobit ces od drugog do cetvrtog elementa no cetrvti element ce biti iskljucen
# -2:-3
# 1:3:1 - third elements specify the by

In [51]:
List2[1:3:1]

[24, True]

In [52]:
List2[2:] #od treceg elementa do kraja

[True, 55.3]

In [53]:
List2[:2] #od pocetka do drugog elementa

['bok', 24]

In [54]:
List2[::2] #od pocetka do kraja svaki drugi

['bok', True]

In [55]:
List2[::-1] #izlista sve od kraja do pocetka

[55.3, True, 24, 'bok']

In [57]:
List2

['bok', 24, True, 55.3]